header{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
    /* border:2px solid black; */
    height: 749px;
    display:block;
    
}



header{
    /* margin:0 auto; */
    display: inline-block;
    background-color: blueviolet;
    min-width: 500px;
    min-height: 500px;
}